<% if (page.comment){ %>
<section id="comment">
  <h2 class="title"><%= __('comment') %></h2>

  <% if(theme.duoshuo_shortname) { %>
  	 <div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>  
  <% } else if(config.disqus_shortname) { %>
  	 <div id="disqus_thread">
  	 <script>
	    (function() {  // DON'T EDIT BELOW THIS LINE
	        var d = document, s = d.createElement('script');
	        
	        s.src = 'https://liliechao.disqus.com/embed.js';
	        
	        s.setAttribute('data-timestamp', +new Date());
	        (d.head || d.body).appendChild(s);
	    })();
	 </script>
     <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  	 </div>
  <% } %>
</section>
<% } %>